<div class = "container" style = "margin-top:100px">
    <div style = "font-size : 80px; text-align : center; margin-bottom: 50px">
        신이 <b><%=@name %></b>을(를) 만들 때
    </div>
    <div style = "text-align : center">
        <div class = "col-md-4">
            <%= image_tag "first.jpg" %>
        </div>
        <div class = "col-md-4">
            <%= image_tag "second.jpg" %>
        </div>
        <div class = "col-md-4">
            <%= image_tag "final.jpg" %>
        </div>
    </div>
    <div style = "text-align : center">
        <div class = "col-md-4" style = "font-size: 30px">
            <b><%= @first %></b>
            을 조금 넣고
        </div>
          <div class = "col-md-4" style = "font-size: 30px">
            <b><%= @second %></b>도<BR>조금 있으면 좋겠군!
        </div>
          <div class = "col-md-4" style = "font-size: 30px">
            <b><%= @final %></b>을 마지막으로.. 엌 바닥에 쏟았네;;<BR><BR>
        </div>
    </div>
    <div>
        <center><a href="http://wantknow.tistory.com/"><%= image_tag "ad.png" %></a></center><BR>
        <center><a href="share"><%= image_tag "facebook.png" %></a></center>
    </div>
</div>